.place{
   // margin-left: 1110px;
        right: 70;

    position: absolute;
    font-size: 20;
    
}
.font{
    font-size:50px;
    background-image: url(images/elect%20bdimg.jpg);
    background-size: cover;
}

.navpos{
    text-align: right;
    margin-right: 21px;
}

.para{
    font-size: 30px;
    padding: 30;
    border: solid 2px ;
    background-color: antiquewhite;
}
.g{
    font-size: 70px;
}

#catimages{
    width: 464px;
    height: 229px;
    margin-left: -28px;
    margin-right: 0px;
}

.navfixing{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.toflex{
    display: flex;
}

/*
#tofix{
    margin-left: 0px;
    margin-right: 0px;
}*/
/*down is effecting on individual image*/
/*
div{
    margin-right: 2px;
    margin-left: 0px;
}
*/

#toimg{
    margin-top: 4px;
}
#ce{
    font-size: 50px;
    margin-bottom: -33;
/*    color:coral;*/
}
#ruler{
    color: red;
}


#kkk{
    font-size: 30px;
    color:coral;
}


#sitelogo{
     margin-left: 12px;
   height: 299px;
    width: 1392px;
}

#couimgfix{
    height: 466px;
    width: 100px;
}



#imagesfixing{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

                 /*FOOTER*/

.fbgcolor {
    background-color: #f8f9fa!important;
}

.fortxtcol {
    color: #6c757d!important;
}
.centertxt{
    text-align: center!important;
}
.forfont{
    font-size: 22px;
}

.topad {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}